# Importação e tratamento

In [1]:
# Bibliotecas necessárias
import pandas as pd

## Carregando arquivos csv para análise exploratória em busca de erros de formatações

In [6]:
# Dados do Bitcoin
data_btc = pd.read_csv('Cryptocurrency Database\coin_Bitcoin.csv' , sep= ',')
display(data_btc)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [7]:
# Dados do Ethereum
data_eth = pd.read_csv('Cryptocurrency Database\coin_Ethereum.csv', sep=',')
display(data_eth)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,6.741880e+05,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,5.321700e+05,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,4.052830e+05,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1.463100e+06,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2.150620e+06,7.364501e+07
...,...,...,...,...,...,...,...,...,...,...
2155,2156,Ethereum,ETH,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11
2156,2157,Ethereum,ETH,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11
2157,2158,Ethereum,ETH,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11
2158,2159,Ethereum,ETH,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11
2159,2160,Ethereum,ETH,2021-07-06 23:59:59,2346.294874,2197.919385,2197.919385,2324.679449,2.089186e+10,2.710286e+11

In [8]:
# Dados do Ripple
data_xrp = pd.read_csv('Cryptocurrency Database\coin_XRP.csv', sep=',')
display(data_xrp)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.000000e+00,4.387916e+07
1,2,XRP,XRP,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.000000e+00,3.659101e+07
2,3,XRP,XRP,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.000000e+00,3.453412e+07
3,4,XRP,XRP,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.000000e+00,3.325863e+07
4,5,XRP,XRP,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.000000e+00,3.354750e+07
...,...,...,...,...,...,...,...,...,...,...
2888,2889,XRP,XRP,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
2889,2890,XRP,XRP,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
2890,2891,XRP,XRP,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
2891,2892,XRP,XRP,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10
2892,2893,XRP,XRP,2021-07-06 23:59:59,0.679923,0.652676,0.653055,0.665402,1.938959e+09,3.072284e+10

## Informações sobre a estrutura dos DataFrames

In [4]:
# Bitcoin
data_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2991 non-null   int64
 1   Name       2991 non-null   object
 2   Symbol     2991 non-null   object
 3   Date       2991 non-null   object
 4   High       2991 non-null   float64
 5   Low        2991 non-null   float64
 6   Open       2991 non-null   float64
 7   Close      2991 non-null   float64
 8   Volume     2991 non-null   float64
 9   Marketcap  2991 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 233.8+ KB

In [9]:
# Ethereum
data_eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2160 non-null   int64
 1   Name       2160 non-null   object
 2   Symbol     2160 non-null   object
 3   Date       2160 non-null   object
 4   High       2160 non-null   float64
 5   Low        2160 non-null   float64
 6   Open       2160 non-null   float64
 7   Close      2160 non-null   float64
 8   Volume     2160 non-null   float64
 9   Marketcap  2160 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 168.9+ KB

In [10]:
# Ripple
data_xrp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893 entries, 0 to 2892
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2893 non-null   int64
 1   Name       2893 non-null   object
 2   Symbol     2893 non-null   object
 3   Date       2893 non-null   object
 4   High       2893 non-null   float64
 5   Low        2893 non-null   float64
 6   Open       2893 non-null   float64
 7   Close      2893 non-null   float64
 8   Volume     2893 non-null   float64
 9   Marketcap  2893 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 226.1+ KB

Após carregar os datasets e verificado as informações (``.info()``) sobre a estrutura de formatação, vimos que não há erros nem colunas ou registros faltantes. Sendo assim não será necessário nenhum tipo de tratamento.

# Exportação para Banco de Dados

In [2]:
# Dados do Polkadot - Dot
data_dot = pd.read_csv('Cryptocurrency Database\coin_Polkadot.csv', sep=',')
display(data_dot)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.000000e+00
1,2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.000000e+00
2,3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.000000e+00
3,4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.000000e+00
4,5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
315,316,Polkadot,DOT,2021-07-02 23:59:59,15.469187,14.675115,15.219061,15.340774,7.531948e+08,1.468349e+10
316,317,Polkadot,DOT,2021-07-03 23:59:59,15.776978,15.068263,15.321934,15.553716,7.112351e+08,1.489035e+10
317,318,Polkadot,DOT,2021-07-04 23:59:59,16.579445,15.221813,15.553584,16.014026,7.520759e+08,1.533547e+10
318,319,Polkadot,DOT,2021-07-05 23:59:59,15.996540,14.788740,15.996540,15.235582,8.448446e+08,1.459323e+10
319,320,Polkadot,DOT,2021-07-06 23:59:59,16.162344,15.210810,15.240785,16.143564,1.001573e+09,1.546772e+10

In [4]:
# Polkadot
data_dot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        320 non-null    int64
 1   Name       320 non-null    object
 2   Symbol     320 non-null    object
 3   Date       320 non-null    object
 4   High       320 non-null    float64
 5   Low        320 non-null    float64
 6   Open       320 non-null    float64
 7   Close      320 non-null    float64
 8   Volume     320 non-null    float64
 9   Marketcap  320 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 25.1+ KB

In [5]:
# Dados do coin_BinanceCoin - BNB
data_BNB = pd.read_csv('Cryptocurrency Database\coin_BinanceCoin.csv', sep=',')
display(data_BNB)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,2.003950e+05,1.051380e+07
1,2,Binance Coin,BNB,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,3.444990e+05,1.077370e+07
2,3,Binance Coin,BNB,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,3.425680e+05,1.040670e+07
3,4,Binance Coin,BNB,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,3.402180e+05,1.078110e+07
4,5,Binance Coin,BNB,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...,...,...,...,...
1437,1438,Binance Coin,BNB,2021-07-02 23:59:59,290.621683,277.350302,287.754456,287.423094,1.133633e+09,4.410016e+10
1438,1439,Binance Coin,BNB,2021-07-03 23:59:59,302.605867,283.434010,287.215592,298.237117,1.113777e+09,4.575938e+10
1439,1440,Binance Coin,BNB,2021-07-04 23:59:59,314.713019,292.787370,298.113557,307.732096,1.387396e+09,4.721623e+10
1440,1441,Binance Coin,BNB,2021-07-05 23:59:59,307.684855,293.523465,307.684855,302.377980,1.504870e+09,4.639473e+10
1441,1442,Binance Coin,BNB,2021-07-06 23:59:59,321.520965,302.195584,302.195584,320.934802,2.203265e+09,4.924196e+10

In [6]:
# BinanceCoin
data_BNB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        1442 non-null   int64
 1   Name       1442 non-null   object
 2   Symbol     1442 non-null   object
 3   Date       1442 non-null   object
 4   High       1442 non-null   float64
 5   Low        1442 non-null   float64
 6   Open       1442 non-null   float64
 7   Close      1442 non-null   float64
 8   Volume     1442 non-null   float64
 9   Marketcap  1442 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 112.8+ KB

In [7]:
# Dados do coin_Solana - Sol
data_Sol = pd.read_csv('Cryptocurrency Database\coin_Solana.csv', sep=',')
display(data_Sol)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Solana,SOL,2020-04-11 23:59:59,1.049073,0.765020,0.951054,0.776819,4.386244e+07,0.000000e+00
1,2,Solana,SOL,2020-04-12 23:59:59,0.956670,0.762426,0.785448,0.882507,3.873690e+07,0.000000e+00
2,3,Solana,SOL,2020-04-13 23:59:59,0.891603,0.773976,0.890760,0.777832,1.821129e+07,0.000000e+00
3,4,Solana,SOL,2020-04-14 23:59:59,0.796472,0.628169,0.777832,0.661925,1.674761e+07,0.000000e+00
4,5,Solana,SOL,2020-04-15 23:59:59,0.704964,0.621531,0.669289,0.646651,1.307528e+07,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
447,448,Solana,SOL,2021-07-02 23:59:59,34.031786,31.479924,33.306310,34.020482,4.402988e+08,9.275257e+09
448,449,Solana,SOL,2021-07-03 23:59:59,35.404770,33.298475,34.015575,34.478816,3.270200e+08,9.400216e+09
449,450,Solana,SOL,2021-07-04 23:59:59,35.502372,33.555737,34.495117,34.310601,3.034205e+08,9.354354e+09
450,451,Solana,SOL,2021-07-05 23:59:59,34.461824,32.482692,34.282550,32.984588,3.138393e+08,8.992833e+09
451,452,Solana,SOL,2021-07-06 23:59:59,34.978319,32.930307,32.930307,34.269140,3.653360e+08,9.343050e+09

In [8]:
# Solana
data_Sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        452 non-null    int64
 1   Name       452 non-null    object
 2   Symbol     452 non-null    object
 3   Date       452 non-null    object
 4   High       452 non-null    float64
 5   Low        452 non-null    float64
 6   Open       452 non-null    float64
 7   Close      452 non-null    float64
 8   Volume     452 non-null    float64
 9   Marketcap  452 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 35.4+ KB