# Importação e tratamento

In [4]:
# Bibliotecas necessárias
import pandas as pd

## Carregando arquivos csv para análise exploratória em busca de erros de formatações

In [5]:
# Dados do Bitcoin
data_btc = pd.read_csv('Cryptocurrency Database\coin_Bitcoin.csv' , sep= ',')
display(data_btc)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [8]:
# Dados do Ethereum
data_eth = pd.read_csv('Cryptocurrency Database\coin_Ethereum.csv', sep=',')
display(data_eth)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,6.741880e+05,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,5.321700e+05,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,4.052830e+05,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1.463100e+06,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2.150620e+06,7.364501e+07
...,...,...,...,...,...,...,...,...,...,...
2155,2156,Ethereum,ETH,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11
2156,2157,Ethereum,ETH,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11
2157,2158,Ethereum,ETH,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11
2158,2159,Ethereum,ETH,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11
2159,2160,Ethereum,ETH,2021-07-06 23:59:59,2346.294874,2197.919385,2197.919385,2324.679449,2.089186e+10,2.710286e+11

In [9]:
# Dados do Ripple
data_xrp = pd.read_csv('Cryptocurrency Database\coin_XRP.csv', sep=',')
display(data_xrp)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.000000e+00,4.387916e+07
1,2,XRP,XRP,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.000000e+00,3.659101e+07
2,3,XRP,XRP,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.000000e+00,3.453412e+07
3,4,XRP,XRP,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.000000e+00,3.325863e+07
4,5,XRP,XRP,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.000000e+00,3.354750e+07
...,...,...,...,...,...,...,...,...,...,...
2888,2889,XRP,XRP,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
2889,2890,XRP,XRP,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
2890,2891,XRP,XRP,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
2891,2892,XRP,XRP,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10
2892,2893,XRP,XRP,2021-07-06 23:59:59,0.679923,0.652676,0.653055,0.665402,1.938959e+09,3.072284e+10

In [12]:
# Dados da Polkadot - DOT
data_dot = pd.read_csv('Cryptocurrency Database\coin_Polkadot.csv', sep=',')
display(data_dot)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.000000e+00
1,2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.000000e+00
2,3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.000000e+00
3,4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.000000e+00
4,5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
315,316,Polkadot,DOT,2021-07-02 23:59:59,15.469187,14.675115,15.219061,15.340774,7.531948e+08,1.468349e+10
316,317,Polkadot,DOT,2021-07-03 23:59:59,15.776978,15.068263,15.321934,15.553716,7.112351e+08,1.489035e+10
317,318,Polkadot,DOT,2021-07-04 23:59:59,16.579445,15.221813,15.553584,16.014026,7.520759e+08,1.533547e+10
318,319,Polkadot,DOT,2021-07-05 23:59:59,15.996540,14.788740,15.996540,15.235582,8.448446e+08,1.459323e+10
319,320,Polkadot,DOT,2021-07-06 23:59:59,16.162344,15.210810,15.240785,16.143564,1.001573e+09,1.546772e+10

In [13]:
# Dados da BinanceCoin - BNB
data_bnb = pd.read_csv('Cryptocurrency Database\coin_BinanceCoin.csv', sep=',')
display(data_bnb)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,2.003950e+05,1.051380e+07
1,2,Binance Coin,BNB,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,3.444990e+05,1.077370e+07
2,3,Binance Coin,BNB,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,3.425680e+05,1.040670e+07
3,4,Binance Coin,BNB,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,3.402180e+05,1.078110e+07
4,5,Binance Coin,BNB,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...,...,...,...,...
1437,1438,Binance Coin,BNB,2021-07-02 23:59:59,290.621683,277.350302,287.754456,287.423094,1.133633e+09,4.410016e+10
1438,1439,Binance Coin,BNB,2021-07-03 23:59:59,302.605867,283.434010,287.215592,298.237117,1.113777e+09,4.575938e+10
1439,1440,Binance Coin,BNB,2021-07-04 23:59:59,314.713019,292.787370,298.113557,307.732096,1.387396e+09,4.721623e+10
1440,1441,Binance Coin,BNB,2021-07-05 23:59:59,307.684855,293.523465,307.684855,302.377980,1.504870e+09,4.639473e+10
1441,1442,Binance Coin,BNB,2021-07-06 23:59:59,321.520965,302.195584,302.195584,320.934802,2.203265e+09,4.924196e+10

In [16]:
# Dados da Solana - SOL
data_sol = pd.read_csv('Cryptocurrency Database\coin_Solana.csv', sep=',')
display(data_sol)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Solana,SOL,2020-04-11 23:59:59,1.049073,0.765020,0.951054,0.776819,4.386244e+07,0.000000e+00
1,2,Solana,SOL,2020-04-12 23:59:59,0.956670,0.762426,0.785448,0.882507,3.873690e+07,0.000000e+00
2,3,Solana,SOL,2020-04-13 23:59:59,0.891603,0.773976,0.890760,0.777832,1.821129e+07,0.000000e+00
3,4,Solana,SOL,2020-04-14 23:59:59,0.796472,0.628169,0.777832,0.661925,1.674761e+07,0.000000e+00
4,5,Solana,SOL,2020-04-15 23:59:59,0.704964,0.621531,0.669289,0.646651,1.307528e+07,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
447,448,Solana,SOL,2021-07-02 23:59:59,34.031786,31.479924,33.306310,34.020482,4.402988e+08,9.275257e+09
448,449,Solana,SOL,2021-07-03 23:59:59,35.404770,33.298475,34.015575,34.478816,3.270200e+08,9.400216e+09
449,450,Solana,SOL,2021-07-04 23:59:59,35.502372,33.555737,34.495117,34.310601,3.034205e+08,9.354354e+09
450,451,Solana,SOL,2021-07-05 23:59:59,34.461824,32.482692,34.282550,32.984588,3.138393e+08,8.992833e+09
451,452,Solana,SOL,2021-07-06 23:59:59,34.978319,32.930307,32.930307,34.269140,3.653360e+08,9.343050e+09

In [17]:
# Dados da Cardano - ADA
data_ada = pd.read_csv('Cryptocurrency Database\coin_Cardano.csv', sep=',')
display(data_ada)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,5.764130e+07,6.288991e+08
1,2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,1.699780e+07,5.396927e+08
2,3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9.000050e+06,5.686195e+08
3,4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5.562510e+06,5.571390e+08
4,5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7.780710e+06,4.806646e+08
...,...,...,...,...,...,...,...,...,...,...
1369,1370,Cardano,ADA,2021-07-02 23:59:59,1.394397,1.286607,1.332942,1.394397,2.159410e+09,4.454587e+10
1370,1371,Cardano,ADA,2021-07-03 23:59:59,1.441714,1.359664,1.394152,1.406836,2.028094e+09,4.494324e+10
1371,1372,Cardano,ADA,2021-07-04 23:59:59,1.493717,1.382153,1.404008,1.458184,1.806362e+09,4.658364e+10
1372,1373,Cardano,ADA,2021-07-05 23:59:59,1.461221,1.379284,1.461221,1.404898,1.759461e+09,4.488134e+10
1373,1374,Cardano,ADA,2021-07-06 23:59:59,1.456887,1.393282,1.404712,1.418053,1.477700e+09,4.530158e+10

In [20]:
# Dados da DogeCoin - DOGE
data_doge = pd.read_csv('Cryptocurrency Database\coin_Dogecoin.csv', sep=',')
display(data_doge)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.000000e+00,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.000000e+00,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.000000e+00,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.000000e+00,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.000000e+00,7.284337e+06
...,...,...,...,...,...,...,...,...,...,...
2755,2756,Dogecoin,DOGE,2021-07-02 23:59:59,0.247997,0.238848,0.243982,0.245264,1.321471e+09,3.194925e+10
2756,2757,Dogecoin,DOGE,2021-07-03 23:59:59,0.250214,0.242454,0.245106,0.246411,9.170158e+08,3.210491e+10
2757,2758,Dogecoin,DOGE,2021-07-04 23:59:59,0.252567,0.243425,0.246425,0.246483,9.735115e+08,3.211767e+10
2758,2759,Dogecoin,DOGE,2021-07-05 23:59:59,0.246419,0.227838,0.246419,0.231614,1.267949e+09,3.018344e+10
2759,2760,Dogecoin,DOGE,2021-07-06 23:59:59,0.241910,0.229842,0.231216,0.234422,1.265920e+09,3.055252e+10

In [22]:
# Dados da UniSwap - UNI
data_uni = pd.read_csv('Cryptocurrency Database\coin_Uniswap.csv', sep=',')
display(data_uni)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Uniswap,UNI,2020-09-18 23:59:59,8.438537,3.261757,3.488153,6.897257,6.061110e+09,6.681116e+08
1,2,Uniswap,UNI,2020-09-19 23:59:59,7.443275,5.321795,6.945577,5.724464,2.447471e+09,5.545076e+08
2,3,Uniswap,UNI,2020-09-20 23:59:59,6.050326,4.720210,5.720515,5.244195,1.554144e+09,5.079857e+08
3,4,Uniswap,UNI,2020-09-21 23:59:59,5.622155,4.160743,5.244195,4.266079,1.329464e+09,4.132392e+08
4,5,Uniswap,UNI,2020-09-22 23:59:59,4.554092,3.755040,4.275014,3.905138,8.162827e+08,3.782762e+08
...,...,...,...,...,...,...,...,...,...,...
287,288,Uniswap,UNI,2021-07-02 23:59:59,18.243571,16.983818,17.833072,18.241726,3.070457e+08,1.049364e+10
288,289,Uniswap,UNI,2021-07-03 23:59:59,19.524757,17.849987,18.227339,19.524757,3.448554e+08,1.146609e+10
289,290,Uniswap,UNI,2021-07-04 23:59:59,21.481411,18.947371,19.479936,20.771874,5.404909e+08,1.219861e+10
290,291,Uniswap,UNI,2021-07-05 23:59:59,20.867785,19.180908,20.767419,20.095181,5.452744e+08,1.180130e+10
291,292,Uniswap,UNI,2021-07-06 23:59:59,23.188558,20.075544,20.088390,22.400186,8.151239e+08,1.315501e+10

In [24]:
# Dados da USDCoin - USDC
data_usdc = pd.read_csv('Cryptocurrency Database\coin_USDCoin.csv', sep=',')
display(data_usdc)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,USD Coin,USDC,2018-10-09 23:59:59,1.008330,1.000030,1.004270,1.006860,1.088030e+05,0.000000e+00
1,2,USD Coin,USDC,2018-10-10 23:59:59,1.019080,1.003970,1.004940,1.009620,7.117830e+05,0.000000e+00
2,3,USD Coin,USDC,2018-10-11 23:59:59,1.031230,1.001730,1.009940,1.009780,4.177290e+06,0.000000e+00
3,4,USD Coin,USDC,2018-10-12 23:59:59,1.018710,1.001140,1.008610,1.012720,1.322240e+06,0.000000e+00
4,5,USD Coin,USDC,2018-10-13 23:59:59,1.020290,1.003550,1.014450,1.007430,6.985070e+05,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
997,998,USD Coin,USDC,2021-07-02 23:59:59,1.000916,0.999966,1.000177,1.000035,1.787896e+09,2.539775e+10
998,999,USD Coin,USDC,2021-07-03 23:59:59,1.000670,0.999925,1.000048,0.999984,1.491017e+09,2.550437e+10
999,1000,USD Coin,USDC,2021-07-04 23:59:59,1.000187,0.998901,0.999956,0.999500,1.578667e+09,2.551172e+10
1000,1001,USD Coin,USDC,2021-07-05 23:59:59,1.000839,0.999459,0.999565,1.000528,1.887496e+09,2.554724e+10
1001,1002,USD Coin,USDC,2021-07-06 23:59:59,1.000731,0.999662,1.000501,1.000059,2.312602e+09,2.567322e+10

## Informações sobre a estrutura dos DataFrames

In [28]:
# Bitcoin - BTC
data_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2991 non-null   int64
 1   Name       2991 non-null   object
 2   Symbol     2991 non-null   object
 3   Date       2991 non-null   object
 4   High       2991 non-null   float64
 5   Low        2991 non-null   float64
 6   Open       2991 non-null   float64
 7   Close      2991 non-null   float64
 8   Volume     2991 non-null   float64
 9   Marketcap  2991 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 233.8+ KB

In [29]:
# Ethereum - ETH
data_eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2160 non-null   int64
 1   Name       2160 non-null   object
 2   Symbol     2160 non-null   object
 3   Date       2160 non-null   object
 4   High       2160 non-null   float64
 5   Low        2160 non-null   float64
 6   Open       2160 non-null   float64
 7   Close      2160 non-null   float64
 8   Volume     2160 non-null   float64
 9   Marketcap  2160 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 168.9+ KB

In [30]:
# Ripple - XRP
data_xrp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2893 entries, 0 to 2892
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2893 non-null   int64
 1   Name       2893 non-null   object
 2   Symbol     2893 non-null   object
 3   Date       2893 non-null   object
 4   High       2893 non-null   float64
 5   Low        2893 non-null   float64
 6   Open       2893 non-null   float64
 7   Close      2893 non-null   float64
 8   Volume     2893 non-null   float64
 9   Marketcap  2893 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 226.1+ KB

In [31]:
# Polkadot - DOT
data_dot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        320 non-null    int64
 1   Name       320 non-null    object
 2   Symbol     320 non-null    object
 3   Date       320 non-null    object
 4   High       320 non-null    float64
 5   Low        320 non-null    float64
 6   Open       320 non-null    float64
 7   Close      320 non-null    float64
 8   Volume     320 non-null    float64
 9   Marketcap  320 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 25.1+ KB

In [32]:
# BinanceCoin - BNB
data_bnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        1442 non-null   int64
 1   Name       1442 non-null   object
 2   Symbol     1442 non-null   object
 3   Date       1442 non-null   object
 4   High       1442 non-null   float64
 5   Low        1442 non-null   float64
 6   Open       1442 non-null   float64
 7   Close      1442 non-null   float64
 8   Volume     1442 non-null   float64
 9   Marketcap  1442 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 112.8+ KB

In [33]:
# Solana - SOL
data_sol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        452 non-null    int64
 1   Name       452 non-null    object
 2   Symbol     452 non-null    object
 3   Date       452 non-null    object
 4   High       452 non-null    float64
 5   Low        452 non-null    float64
 6   Open       452 non-null    float64
 7   Close      452 non-null    float64
 8   Volume     452 non-null    float64
 9   Marketcap  452 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 35.4+ KB

In [34]:
# Cardano - ADA
data_ada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1374 entries, 0 to 1373
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        1374 non-null   int64
 1   Name       1374 non-null   object
 2   Symbol     1374 non-null   object
 3   Date       1374 non-null   object
 4   High       1374 non-null   float64
 5   Low        1374 non-null   float64
 6   Open       1374 non-null   float64
 7   Close      1374 non-null   float64
 8   Volume     1374 non-null   float64
 9   Marketcap  1374 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 107.5+ KB

In [35]:
# DogeCoin - DOGE
data_doge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2760 non-null   int64
 1   Name       2760 non-null   object
 2   Symbol     2760 non-null   object
 3   Date       2760 non-null   object
 4   High       2760 non-null   float64
 5   Low        2760 non-null   float64
 6   Open       2760 non-null   float64
 7   Close      2760 non-null   float64
 8   Volume     2760 non-null   float64
 9   Marketcap  2760 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 215.8+ KB

In [36]:
# UniSwap - UNI
data_uni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        292 non-null    int64
 1   Name       292 non-null    object
 2   Symbol     292 non-null    object
 3   Date       292 non-null    object
 4   High       292 non-null    float64
 5   Low        292 non-null    float64
 6   Open       292 non-null    float64
 7   Close      292 non-null    float64
 8   Volume     292 non-null    float64
 9   Marketcap  292 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 22.9+ KB

In [37]:
# USDCoin - USDC
data_usdc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        1002 non-null   int64
 1   Name       1002 non-null   object
 2   Symbol     1002 non-null   object
 3   Date       1002 non-null   object
 4   High       1002 non-null   float64
 5   Low        1002 non-null   float64
 6   Open       1002 non-null   float64
 7   Close      1002 non-null   float64
 8   Volume     1002 non-null   float64
 9   Marketcap  1002 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 78.4+ KB

Após carregar os datasets e verificado as informações (``.info()``) sobre a estrutura de formatação, vimos que não há erros nem colunas ou registros faltantes. Sendo assim não será necessário nenhum tipo de tratamento.

# Exportação para Banco de Dados SQL

In [1]:
def dataframe_to_sql(dataframe, sql_filename, table_name):
    with open(sql_filename, 'w') as arquivo_sql:
        column_names = ', '.join(dataframe.columns)

        arquivo_sql.write(f"INSERT INTO {table_name} ({column_names})\nVALUES\n")
        
        for _, row in dataframe.iterrows():
            values = []

            for value in row:
                if isinstance(value, str):
                    # Adicione aspas simples ao redor de valores de string
                    values.append(f"'{value}'")
                else:
                    values.append(str(value))

            values = ', '.join(values)
            arquivo_sql.write(f"({values}),\n")
        
        # Remova a última vírgula e nova linha e adicione um ponto e vírgula
        arquivo_sql.seek(arquivo_sql.tell() - 2)
        arquivo_sql.truncate()
        arquivo_sql.write(";")

In [25]:
if __name__ == "__main__":
    data = data_usdc  # DataFrame
    sql_filename = 'usdcoin.sql'  # Nome do arquivo SQL
    table_name = 'coin_usdc'  # Nome da tabela

    dataframe_to_sql(data, sql_filename, table_name)

Essa função cria todos os arquivos de inserts para povoar as tabelas criadas no banco de dados apenas modificando as variáveis ``data``, ``sql_filename`` e ``table_name`` para o dataframe a ser convertido em sql.